.editor .root {
    .delimiter {
        color: rgb(246, 212, 58);

        &.lv-2,
        &.lv-5,
        &.lv-8 {
            color: rgb(198, 107, 203);
        }

        &.lv-3,
        &.lv-6,
        &.lv-9 {
            color: rgb(72, 145, 248);
        }
    }

    .meta {
        color: white;

        .key {
            color: #a1d4fa;
        }

        .val {
            color: #bd8970;
        }

        .delimiter {
            color: gray;
        }
    }

    .score {
        line-height: 1.6;
        color: white;

        .token.placeholder {
            color: gray;
        }

        .notes {
            .group {
                position: relative;
            }

            .group .group::after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background: currentColor;
            }
        }

        .lyric {
            color: gray;

            .token:not(.placeholder) {
                color: #b1c7a1;
            }

            .delimiter {
                opacity: 0.5;
            }
        }
    }

    .hint {
        display: inline-block;
        border-radius: 0.1em;
        background-color: #FFF2;
        &::after {
            opacity: 0.6;
            content: attr(data-hint);
        }
    }

    .unknown {
        color: #CAA;
    }
}